<p>
    Best regards,
</p>

<p>
	{{name}}{{^name}}[NAME]{{/name}}<br>
  {{title}}{{^title}}[TITLE]{{/title}}<br>
  {{email}}{{^email}}[EMAIL]{{/email}}<br>
  {{tel}}{{^tel}}[TEL]{{/tel}}<br>
	{{telnice}}{{^telnice}}[telnice]{{/telnice}}<br>
</p>
